<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../vue.min.js"></script>
</head>
<body>
    <!-- 迭代整数 -->
    <!-- <div id="app">
        <ul>
            <li v-for="n in 20">{{n}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:"#app"
        })
    </script> -->

    <!-- 迭代数组 -->
    <div id="app">
        <p v-for="n in [1,2,3]">{{n}}</p>
    </div>
    <script>
        new Vue({
            el:"#app"
        })
    </script>
</body>
</html>